<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Expense Tracker</title>
</head>
<body>
  <div class="top-section d-flex justify-content-center mt-5">
    <div class="title d-flex justify-content-center shadow-lg " style="width: 1000px; height: 250px;">
      <h1 class="display-1 align-self-center font-weight-bold">老爸的私房錢</h1>
    </div>
  </div>

  {{{body}}}
  
</body>
</html>